<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Générateur de Liste d'Épicerie</title>
    <script async src="//platform.getbring.com/widgets/import.js"></script>
    <link rel="stylesheet" href="static/style_index.css">
</head>
<body>
    <main>
        {% if shopping_list %}
        <div itemscope itemtype="https://schema.org/Recipe">
            <h2 itemprop="name">Liste d'épicerie pour la semaine {{ week }}</h2>
            <ul>
                {% for item in shopping_list %}
                <li itemprop="recipeIngredient">{{ item }}</li>
                {% endfor %}
            </ul>
            
            <!-- Bouton Bring! -->
            <div data-bring-import 
                 data-bring-language="fr" 
                 data-bring-import-version="1" 
                 style="display:block; margin-top: 20px;">
                <a href="https://www.getbring.com">Importer cette liste dans Bring!</a>
            </div>
        </div>
        {% else %}
        <p>Veuillez choisir une semaine pour générer la liste d'épicerie.</p>
        {% endif %}
        
        <!-- Bouton pour changer de semaine -->
        <div class="change-week">
            <button onclick="location.href='/select_week'">Changer de semaine</button>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Générateur de Liste d'Épicerie. Tous droits réservés.</p>
    </footer>
</body>
</html>
